/* Type styles */

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

img {
    max-height: auto;
    max-width: 475px;
}

button {
    font-weight: bold;
    border: none;
    padding: 8px 24px;
    border-radius: 12px;
    width: 120px;
}

h1,
h2,
p {
    margin: 0px;
}

/* Structure styles */

.header,
.website-awesome {
    display: flex;
    align-items: center;
    width: 950px;
}

.header {
    gap: 24px;
    margin: 20px;
}

.website-awesome {
    gap: 24px;
    height: 400px;
}

.first-flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Colors and font styles */

.dark-background-color {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-second-txt {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-txt {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
}

.blue-background-color {
    background-color: #3882F6;
}

.info-header-txt {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote-background-color{
    background-color: #E5E7EB;
}

.quote-txt {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}