/* Type styles */

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

img {
    max-height: auto;
    max-width: 475px;
}

button {
    font-weight: bold;
    border: none;
    padding: 8px 24px;
    border-radius: 12px;
    width: 120px;
}

h1,
h2,
p {
    margin: 0px;
}

/* Structure styles */

.header,
.website-awesome,
.first-flex,
.random-info,
.inspiring-quote,
.call-action {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 950px;
}

.header,
.footer {
    margin: 20px;
}

.website-awesome {
    height: 450px;
}

.first-flex {
    flex-direction: column;
    align-items: flex-start;
}

.random-info {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 450px;
    padding: 24px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-flex {
    display: flex;
    gap: 24px;
}

.illustration img {
    height: auto;
    width: 200px;
    border-radius: 12px;
}

.illustration {
    height: auto;
    width: 200px;
    text-align: center;
}

.inspiring-quote {
    flex-direction: column;
    justify-content: center;
    width: 850px;
    height: 450px;
}

.content.short {
    justify-content: center;
    height: 350px;
}

.call-action {
    justify-content: space-around;
    border-radius: 12px;
    height: 160px;
}

.call-action button {
    border: solid 2px white;
}

/* Colors and font styles */

.dark-background-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-second-txt {
    font-size: 18px;
    color: #E5E7EB;
}

.illustration .hero-second-txt {
    font-size: 18px;
    color: #5A6370;
}

.header-logo-txt {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
}

.inspiring-quote .header-logo-txt {
    color: black;
    margin-right: 0px;
    margin-left: auto;
}

.call-action div .header-logo-txt {
    margin: 0px;
}

.blue-background-color {
    background-color: #3882F6;
}

.info-header-txt {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote-background-color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-txt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}